
.auth-nav { outline: 1px solid red;
  @media screen and (max-width: 767px) {

    
  }


@media screen and (min-width: $tablet) {
  
  margin-left: auto;
      align-items: center;
      
      gap: 10px;
      line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

@media screen and (min-width: $desctop) {

  display: flex;
  // margin-left: 300px;
  align-items: center;
  gap: 30px;

  }


}
.auth-nav__auth-link {
  @media screen and (max-width: 767px) {

    
  }


@media screen and (min-width: $tablet) {
  display: flex;
    align-items: center;
    color: inherit;
    
    padding: 5px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-function);

    &:hover, &:focus {color: var(--accent-color);};
}
@media screen and (min-width: $desctop) {


padding: 32px 0;}


  
  outline: 1px solid red;}

.auth-nav__icon { outline: 1px solid red;
  display: inline-flex;
      margin-right: 10px;
      fill: currentColor;
}

