
.footer {
    background-color: var(--back2-color);
    padding-top: 60px;
    padding-bottom: 60px;


    & .logo__part-color {
        color: var(--white-color);
      }
  }
  
  .footer > .container {
    text-align: center;
    outline: 1px solid green;
    
    @media screen and (min-width:$tablet) {
      
    display: flex;
    align-items: top;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
                 
        }
       
     @media screen and (min-width:$desctop) 
     {
      // align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      
     }
}


  
 