
.footer {
    background-color: var(--back2-color);
    padding-top: 60px;
    padding-bottom: 60px;


    & .logo__part-color {
        color: var(--white-color);
      }
  }
  
  .footer > .container {
    display: flex;
  }
 
  
 