.footer-box {
  // outline: 1px solid red;
  
}

  .footer__address {
    margin-top: 20px;
        margin-bottom: 60px;
    
        & li:not(:last-child) {
        margin-bottom: 9px;
      }

      @media screen and (min-width:$desctop) {
      text-align: left;
      
      }

  }
  
  .footer__adress-link {
    color: var(--white-color);
    font-style: normal;
    line-height: 1.71;

    &--opacity {opacity: 0.6;}
  }
 


  // @media screen and (min-width: $tablet) {
    
  // }
  // @media screen and (min-width: $desctop) {
    
  // }