.footer__social-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__social {
  margin-left: 70px;
  margin-right: 93px;

  .social-media {
    background-color: var(--social-icon-bcgr-footer);
    transition: background-color 250ms var(--transition-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  .social-icon {
    fill: var(--white-color);
  }
}
