.footer__social-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__social {
  // outline: 1px solid red;
  margin-bottom: 60px;

  @media screen and (max-width:$mobile){
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 93px;
    };
  
    @media screen and (min-width:$desctop) {

      margin-left: 70px;
      margin-top: 20px;

      };
   

  .social-media {
    background-color: var(--social-icon-bcgr-footer);
    transition: background-color 250ms var(--transition-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  .social-icon {
    fill: var(--white-color);
  }
}
