.hero {
    background-color: var(--back2-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img_hero_bg.jpg);
    background-repeat: no-repeat;
    max-width: 480px;
    min-height: 400px;

    // max-width: 1600px;
    // min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
  
    text-align: center;
    padding: 118px 0;
    // padding: 200px 0;
  }
  .hero__title {
    color: var(--white-color);
  
    letter-spacing: 0.06em;
    line-height: 1.62;
    text-transform: uppercase;
    font-size: 26px;
    // font-size: 44px;
    font-weight: 900;
    text-align: center;
  
    width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }