.logo {
    color: var(--accent-color);
  
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
   
  }
  
  .logo__part-color {
    color: var(--black); }