
  .page-header {
    position: relative;
    // outline: 1px solid red;
    .container {
      
      // outline: 1px solid red;
      padding: 16px 10px 16px 15px;
      display: flex;
      align-items: center;
      
      @media screen and (min-width: $desctop) {
        padding: 0 15px;
      }
  }
  border-bottom: 1px solid var(--header-border);

  
  }


  
    
    