
  .page-header {
    position: relative;
    // outline: 1px solid red;
    .container {
      
      // outline: 1px solid red;
      display: flex;
      align-items: center;
      width: 100%;
      
      @media screen and (max-width:767px) {
        padding: 16px 10px 16px 15px;
        
        
      };


      @media screen and (min-width: $tablet) {
        padding: 0 15px;
        }

      // @media screen and (min-width: $desctop) {
       
        
      // };
      };


  border-bottom: 1px solid var(--header-border);


  }


  
    
    