.site-nav {
  // outline: 1px solid red;
  @media screen and(max-width:$tablet){
    display: none;}

  color: var(--headers-color);
  display: flex;
  
  margin-left: 88px;
  gap: 50px;
  align-items: center;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 500;

  @media screen and (min-width: $desctop) {
    margin-left: 93px;
  }
}

.site-nav__link-nav {
  // outline: 1px solid red;
  @media screen and(max-width:$tablet){
    display: none;}


  padding: 32px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-function);

  &--current {
    color: var(--accent-color);

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 4px;
      content: " ";
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  &:hover, &:focus {color: var(--accent-color);};
 
}
